<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
<script src="lib/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
<script src="app/app.js"></script>

<div ng-app="myApp">
<div ng-controller="myC" class="row">

    <div id="booksColumn" class="col-lg-2">

        <h3 class="header">Books</h3>

        <select id="ddlbooks" ng-model="selectedCat" ng-options="cat.catid as cat.name for cat in categories" ng-change="updateCategory()">
        </select>

        <div id="booksWrapper">
            <div id="booksList" class="list-group">
                <a class="list-group-item" ng-class="{active: n.bookid==selectedBook}" ng-repeat="n in books" ng-click="showChapters(n.bookid, n.name)" href="#/{{n.name}}">{{n.name}}</a>
            </div>

            <div class="button-wrapper">
                <input type="text" id="newBookName" ng-model="newBookName" class="addText"/>
                <button type="button" ng-click="addBook()">Add a Book</button>
                <button type="button" ng-click="removeSelectedBook()">Remove Selected Book</button>
            </div>
        </div>

    </div>


    <div class="col-lg-5">

        <h3 class="header">Chapters</h3>

        <ng-view></ng-view>

        <div id="chaptersWrapper">
            <div id="chaptersList" class="list-group">
                <a class="list-group-item" ng-class="{active: n.chapid==selectedChapter}" ng-repeat="n in chapters" ng-click="showNotes(n.bookid, n.chapid)" href="#/{{selectedBook}}/{{n.chapid}}">{{n.name}}</a>
            </div>

            <div class="button-wrapper">
                <input type="text" id="newBookChapter" ng-model="newChapterName" class="addText"/>
                <button type="button" ng-click="addChapter()">Add a Chapter</button>
                <button type="button" ng-click="removeSelectedChapter()">Remove Selected Chapter</button>
            </div>
        </div>
    </div>

    <div class="col-lg-5">

        <h3 class="header">Notes</h3>

        <form ng-submit="sendPost()">
            <textarea  id="texter" ng-model="toSend" ></textarea>

            <div class="button-wrapper"><button type="submit">Send</button></div>
        </form>

    </div>
</div>
</div>


<!-- <script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script> -->
<script src="../lib/ckeditor/ckeditor.js"></script>
<script src="./lib/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    
    $( '#texter' ).ckeditor();
    $('button').click(function(){
            var data = $( '#texter' ).val();
            console.log(data);
            //console.log(CKEDITOR.instances['#texter'].getData());
    });

</script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>